### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [207]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [208]:
unique_players = purchase_data.drop_duplicates(subset=['SN'], keep='first')

## Player Count

* Display the total number of players

In [209]:
totalplayers = pd.DataFrame({"Total Players": [len(unique_players)]})
totalplayers.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [210]:
unique_items = len(purchase_data["Item ID"].unique())
avg_price = round(purchase_data["Price"].mean(), 2)
total = len(purchase_data)
total_rev = purchase_data["Price"].sum()
purchasing_analysis = pd.DataFrame({"Number of Unique Items":[unique_items], 
                                    "Average Price": "$"+str(avg_price), 
                                    "Number of Purchases":[total], 
                                    "Total Revenue": "$"+str(total_rev)})
purchasing_analysis.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [259]:
gender_dem = pd.DataFrame(unique_players["Gender"].value_counts().rename("Total Count"))
gender_dem["Percentage of Players"] = ((gender_count / gender_count.sum())*100).round(2)
gender_dem

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [274]:
gender_gb = purchase_data.groupby(['Gender'])

gender_purchase_count=gender_gb.count()['Price'].rename('Purchase Count')
gender_avgprice=gender_gb.mean()['Price'].rename('Average Purchase Price')
gender_purchase_value = gender_gb.sum()['Price'].rename('Total Purchase Value')
gender_avg_total = gender_purchase_value / gender_dem['Total Count']

gender_datasummary = pd.DataFrame({'Purchase Count': gender_purchase_count,
                                   'Average Purchase Price': (gender_avgprice).map("${:.2f}".format),
                                   'Total Purchase Value': (gender_purchase_value).map("${:,.2f}".format),
                                   'Avg Total Purchase per Person': (gender_avg_total).map("${:.2f}".format)})
gender_datasummary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [235]:
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 999999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_df = unique_players.loc[:, ["SN", "Age"]]
age_df["Age Range"] = pd.cut(unique_players["Age"], bins, labels=group_names)
age_dem = pd.DataFrame(age_df["Age Range"].value_counts().rename("Total Count"))
age_dem["Percentage of Players"] = ((age_count/(age_count.sum()))*100).round(2)
age_dem.sort_index()

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [271]:
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
age_gb = purchase_data.groupby(['Age Range'])

age_purchase_count=age_gb.count()['Price'].rename('Purchase Count')
age_avgprice=age_gb.mean()['Price'].rename('Average Purchase Price')
age_purchase_value = age_gb.sum()['Price'].rename('Total Purchase Value')
age_avg_total = age_purchase_value / age_dem["Total Count"]

age_datasummary = pd.DataFrame({'Purchase Count': age_purchase_count,
                                   'Average Purchase Price': (age_avgprice).map("${:.2f}".format),
                                   'Total Purchase Value': (age_purchase_value).map("${:,.2f}".format),
                                   'Avg Total Purchase per Person': (age_avg_total).map("${:.2f}".format)})
age_datasummary.sort_index()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [321]:
spenders_gb = purchase_data.groupby(["SN"])
spenders_count = spenders_gb["Purchase ID"].count()
spenders_avg = spenders_gb["Price"].mean()
spenders_total = spenders_gb["Price"].sum()
spenders = pd.DataFrame({"Purchase Count": spenders_count, 
                             "Average Purchase Price": spenders_avg,
                             "Total Purchase Value": spenders_total})
top_spenders=spenders.sort_values(["Total Purchase Value"], ascending=False).head()
top_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                           "Average Purchase Price":"${:,.2f}",  
                           "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [330]:
item_df = purchase_data[["Item ID", "Item Name", "Price"]]
item_gb = item_df.groupby(["Item ID", "Item Name"])

item_PC = item_gb['Item ID'].count()
item_total = item_gb['Price'].sum()
sort_items = pd.DataFrame({"Purchase Count":item_PC, 
                            "Item Price": (item_total/item_PC),
                            "Total Purchase Value":item_total})
most_pop_items=sort_items.sort_values(["Purchase Count"], ascending=False).head()
most_pop_items.style.format({"Item Price":"${:,.2f}",
                             "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [331]:
most_prof_items = sort_items.sort_values(["Total Purchase Value"], ascending=False).head()
most_prof_items.style.format({"Item Price":"${:,.2f}",
                              "Total Purchase Value":"${:,.2f}"})